@import 'variables.scss';
@import "~@fontsource/press-start-2p/index.css"; 

*{ //reset
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $bg-color;
  font-family: 'Press Start 2P', cursive;

  color: #ffffff;
  line-height: 1.4;
}

.container{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}

img{
  max-width: 100%;
}

ul{
  list-style-type: none;

  li{
    text-align: center;
    margin-bottom: 16px;

    a{
      color: #ffffff;
      text-decoration: none;

      &:hover{
        color: $accent-color;
      }
    }
  }
}

.game-versions-list{
  font-size: 30px;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  ul{

    li{

      .info-button{
        display: none;
      }
    }
  }
 
}

@media screen and (max-width: 450px) {
  .game-versions-list{
    font-size: 25px;
    position: relative;

    ul{

      li{
        display: flex;
        align-items: center;

        .game-info{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border: 2px solid black;
          background-color:$accent-color;
          min-width: 75%;
          display: none;

          h2{
            border-bottom: 1px solid black;
            padding: 10px 5px;
          }

          p{
            padding: 12px 8px;
            line-height: 1.6;
          }

          &.active{
            display: block;
          }

          span{
            font-size: 16px;
            padding: 3px;
            margin-left: 90%;
          }

        }
        
        .info-button{
          display: inline-block;
          border: 2px solid white;
          margin-left: 10px;
          padding: 7px;
          display: inline-block;
        }

      }
    }
  }
}

//STRUTTURA COMUNE DEI GIOCHI
.board{
  display: flex;
}

.game-area{
  padding: 12px;
  position: relative;
}

.game-data{
  padding: 12px;
  width: 240px;
}

h1{
  font-size: 34px;
  margin-bottom: 16px;
}

p{
  font-size: 16px;
  margin-bottom: 20px;
}

//ALERT

.game-alert{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &-message{
    font-size: 40px;
    padding: 20px;
    background-color: $accent-color;
  }
}




