$cell-size: 120px;
$gutter: 60px;

#grid {
  width: calc(($cell-size * 3) + $gutter);
  height: calc(($cell-size * 3) + $gutter);

  // border: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  .cell {
    width: $cell-size;
    height: $cell-size;

    border: 4px solid white;
    cursor: pointer;
    font-size: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  $cell-size: 30vw;
  $gutter: 1vw;

  div {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    
    #grid {
      width: calc(($cell-size * 3) + $gutter);
      height: calc(($cell-size * 3) + $gutter);

      .cell {
        width: $cell-size;
        height: $cell-size;
      }
    }
  }

  .game-data {
    display: none;
  }
}